

    /*---Global---*/
    .toolbar{
        background-color:#333333;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
        display: flex;
        flex-direction: row; 
        position: fixed;
        width: 100%;
    }

    header{ 
        top: 0;
    }

    .header-content{
        display: flex;
        margin: 0 auto;
    }
    .header-icon{
        padding-top: 7px;
        width: 35px;
        height: 35px;
    }

    .header-text{
        background-color:#333333;
        color: white;
        font-family: 'Niramit', sans-serif;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
        font-size: 24pt;
    }
    .content{
        margin-top: 75px;
        font-style: italic;
        font-family: 'Niramit', sans-serif;
        font-size: 18pt;
        width: 350px;
        margin: 0 auto;
        padding-top: 75px;
    }

    h1 {
        	
        font-weight: 500; 
        padding: 10px;
    }

    /*---Body---*/
    body{
        color: black;   
        background-color: white;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }  

    .content-input{
        margin-top: 10px;
        width: 110px;
        font-style: normal;
        height: 25px;
        font-size: 16pt;
    }

    .content-label{
        text-align: right;
        width: 200px;
    }
    .content-radio{        
        width: 20px;
        height: 20px;
    }
